<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body ng-app="directoryApp">
    <div class="container">
      <div class="row">
        <h1>UF Directory App</h1>
      </div>
      <div class="row" ng-controller="ListingsController">
        <div class="col-md-6">
          <div class="input-group" id="searchBar">
            <!-- 

                Implement a way to filter through listings using the search bar 

              -->
            <span class="input-group-addon" id="sizing-addon1"><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" placeholder="Search" ng-model = "keyword">
          </div>
          <div class="tableWrapper">
            <table class="table table-striped table-hover">
              <tr>
                <th>Code</th>
                <th>Building Name</th>
                <th></th>
              </tr>
              <tr ng-repeat='listing in listings | filter:keyword' ng-click='showDetails($index)'>
                <th>{{ listing.code }}</th>
                <th>{{ listing.name }}</th>
                <th class = "deleteButton" ng-click='deleteListing($index)'> Delete </th>
              </tr>
              <!-- 

                  Fill in the rest of the table:
                      * populate the rows with the code and name of each listing
                      * include a way to remove individual listings

                --> 
            </table>
          </div>
          <h2>Add a new listing</h2>
          <form id="newListingForm" name="newListingForm" novalidate>
            <label style="width : 100%">Building Code: 
              <input type="text" ng-minlength="3" ng-maxlength="4" maxlength="4" name="codeIn" ng-model="buildCode" required>
            </label>
            <label style="width: 100%">Building Name:
              <input type="text" name="nameIn"  ng-model="buildName" required>
            </label>
            <label style="width: 100%">Latitude:
              <input type="number" name="latIn" ng-model="buildLat">
            </label>
            <label style="width: 100%">Longitude:
              <input type="number" name="longIn" ng-model="buildLong">
            </label>
            <label style="width: 100%">Address:
              <input type="text" name="addIn" ng-model="buildAdd">
            </label>
            <button class="submitButton" ng-disable="newListingForm.$invalid" ng-show="newListingForm.$valid" ng-click = 'addListing()' >
              submit
            </button>
          </form>
          <!-- 

              Write an HTML form that adds new listings to the directory 

            -->
        </div>
        <div class="col-md-6">
          <div class="jumbotron">
            <h2>Building Information</h2>
            <h2 id = 'detBuildCode'></h2>
            <h2 id = 'detBuildName'></h2>
            <h2 id = 'detBuildCoord'></h2>
            <h2 id = 'detBuildAdd'></h2>
            <!-- 

              Include a way to display detailed information about an individual listing:
                   * consider how to use ng-click within the the table to implement this feature

             -->
          </div>
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
  </body>
</html>